.elementor-21 .elementor-element.elementor-element-17e7be5 > .elementor-container {
  min-height: 825px;
}

.elementor-21 .elementor-element.elementor-element-17e7be5 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-17e7be5:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-17e7be5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
 background-color: #197272;
}
}

.elementor-21 .elementor-element.elementor-element-17e7be5 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-0e1e976 {
  text-align: center;
  color: #000000;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-0e1e976 > .elementor-widget-container {
  margin: -15px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-d537a07 img {
  width: 22%;
}

body:not(.rtl) .elementor-21 .elementor-element.elementor-element-d537a07 {
  left: 544px;
}

body.rtl .elementor-21 .elementor-element.elementor-element-d537a07 {
  right: 544px;
}

.elementor-21 .elementor-element.elementor-element-d537a07 {
  top: 196px;
}

.elementor-21 .elementor-element.elementor-element-29a25fd img {
  width: 22%;
}

body:not(.rtl) .elementor-21 .elementor-element.elementor-element-29a25fd {
  left: -544px;
}

body.rtl .elementor-21 .elementor-element.elementor-element-29a25fd {
  right: -544px;
}

.elementor-21 .elementor-element.elementor-element-29a25fd {
  top: 196px;
}

.elementor-21 .elementor-element.elementor-element-29a25fd > .elementor-widget-container {
  --e-transform-flipX: -1;
}

.elementor-21 .elementor-element.elementor-element-fdeb194 {
  overflow: hidden;
  z-index: 0;
}

.elementor-21 .elementor-element.elementor-element-e4f3dcf {
  text-align: right;
  z-index: 2;
}

.elementor-21 .elementor-element.elementor-element-e4f3dcf img {
  width: 50%;
}

.elementor-21 .elementor-element.elementor-element-e4f3dcf > .elementor-widget-container {
  margin: 0% 13% 0% 0%;
}

.elementor-21 .elementor-element.elementor-element-4f09f35 {
  text-align: left;
  z-index: 2;
}

.elementor-21 .elementor-element.elementor-element-4f09f35 img {
  width: 55%;
}

.elementor-21 .elementor-element.elementor-element-4f09f35 > .elementor-widget-container {
  margin: 0% 0% 0% 6%;
}

.elementor-21 .elementor-element.elementor-element-7a7b74b {
  overflow: hidden;
}

.elementor-21 .elementor-element.elementor-element-ef88135 > .elementor-element-populated {
  margin: 4% 0% 0% 0%;
  --e-column-margin-right: 0%;
  --e-column-margin-left: 0%;
}

.elementor-21 .elementor-element.elementor-element-a120ede {
  text-align: center;
  color: var( --e-global-color-kadence9 );
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 23px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-e0d3e2b {
  text-align: center;
  color: #060091;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-e0d3e2b > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-9ae3232 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-9ae3232:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-9ae3232 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-9ae3232, .elementor-21 .elementor-element.elementor-element-9ae3232 > .elementor-background-overlay {
  border-radius: 2% 2% 0% 0%;
}

.elementor-21 .elementor-element.elementor-element-9ae3232 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-5c7fce7 {
  --e-image-carousel-slides-to-show: 7;
}

.elementor-21 .elementor-element.elementor-element-a4ca7c5 > .elementor-container {
  min-height: 462px;
}

.elementor-21 .elementor-element.elementor-element-a4ca7c5 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-a4ca7c5:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-a4ca7c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var( --e-global-color-accent );
}

.elementor-21 .elementor-element.elementor-element-a4ca7c5, .elementor-21 .elementor-element.elementor-element-a4ca7c5 > .elementor-background-overlay {
  border-radius: 2px 2px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-a4ca7c5 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-c8f4b93 img {
  width: 43%;
}

.elementor-21 .elementor-element.elementor-element-b337ab0 {
  overflow: hidden;
}

.elementor-21 .elementor-element.elementor-element-66827d3 > .elementor-element-populated {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-66827d3 > .elementor-element-populated, .elementor-21 .elementor-element.elementor-element-66827d3 > .elementor-element-populated > .elementor-background-overlay, .elementor-21 .elementor-element.elementor-element-66827d3 > .elementor-background-slideshow {
  border-radius: 15px 15px 15px 15px;
}

.elementor-21 .elementor-element.elementor-element-66827d3 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-9cb7ac0 {
  text-align: left;
  color: #FFFFFF;
  font-family: var( --e-global-typography-d7384ca-font-family ), Sans-serif;
  font-size: var( --e-global-typography-d7384ca-font-size );
  line-height: var( --e-global-typography-d7384ca-line-height );
  letter-spacing: var( --e-global-typography-d7384ca-letter-spacing );
  word-spacing: var( --e-global-typography-d7384ca-word-spacing );
}

.elementor-21 .elementor-element.elementor-element-9cb7ac0 > .elementor-widget-container {
  margin: 2% 2% 2% 2%;
}

.elementor-21 .elementor-element.elementor-element-dabb700 > .elementor-container {
  min-height: 0px;
}

.elementor-21 .elementor-element.elementor-element-dabb700 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-dabb700:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-dabb700 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var( --e-global-color-accent );
}

.elementor-21 .elementor-element.elementor-element-dabb700 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-d446129 {
  --divider-border-style: solid;
  --divider-color: #FFFFFF;
  --divider-border-width: 1px;
}

.elementor-21 .elementor-element.elementor-element-d446129 .elementor-divider-separator {
  width: 100%;
}

.elementor-21 .elementor-element.elementor-element-d446129 .elementor-divider {
  padding-block-start:2px;padding-block-end:2px;}

.elementor-21 .elementor-element.elementor-element-561b5a3 {
  --e-image-carousel-slides-to-show: 10;
}

.elementor-21 .elementor-element.elementor-element-e48bc48 {
  --divider-border-style: solid;
  --divider-color: #FFFFFF;
  --divider-border-width: 1px;
}

.elementor-21 .elementor-element.elementor-element-e48bc48 .elementor-divider-separator {
  width: 100%;
}

.elementor-21 .elementor-element.elementor-element-e48bc48 .elementor-divider {
  padding-block-start:2px;padding-block-end:2px;}

.elementor-21 .elementor-element.elementor-element-14bc3ee {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-14bc3ee:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-14bc3ee > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var( --e-global-color-accent );
}

.elementor-21 .elementor-element.elementor-element-14bc3ee > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-d9cc224 {
  text-align: center;
}

.elementor-21 .elementor-element.elementor-element-d9cc224 .elementor-heading-title {
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 65px;
}

.elementor-21 .elementor-element.elementor-element-328d110 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 21px;
}

.elementor-21 .elementor-element.elementor-element-328d110 > .elementor-widget-container {
  margin: 15px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-8a5f44d > .elementor-container {
  min-height: 360px;
}

.elementor-21 .elementor-element.elementor-element-8a5f44d {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 27px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-8a5f44d:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-8a5f44d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var( --e-global-color-accent );
}

.elementor-21 .elementor-element.elementor-element-8a5f44d > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-b254ea9:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-21 .elementor-element.elementor-element-b254ea9 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #FFFFFF24;
}

.elementor-21 .elementor-element.elementor-element-b254ea9 > .elementor-element-populated, .elementor-21 .elementor-element.elementor-element-b254ea9 > .elementor-element-populated > .elementor-background-overlay, .elementor-21 .elementor-element.elementor-element-b254ea9 > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}

.elementor-21 .elementor-element.elementor-element-b254ea9 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-b254ea9 > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-7422161 {
  overflow: hidden;
  padding: 10px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-743aa53.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-743aa53.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-743aa53.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}

.elementor-21 .elementor-element.elementor-element-743aa53 > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}

.elementor-21 .elementor-element.elementor-element-b98fdd3 {
  text-align: right;
}

.elementor-21 .elementor-element.elementor-element-b98fdd3 img {
  width: 97%;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-3e4905f.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-3e4905f.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-c7977e2 {
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 20px;
}

.elementor-21 .elementor-element.elementor-element-5ae5a71 {
  overflow: hidden;
}

.elementor-21 .elementor-element.elementor-element-2303939 img {
  width: 100%;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-2ed7a57.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-2ed7a57.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-3cb7786 {
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 20px;
}

.elementor-21 .elementor-element.elementor-element-66137c7 {
  overflow: hidden;
  padding: 0px 0px 10px 0px;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-95ded17.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-95ded17.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-49920d9 {
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 20px;
}

.elementor-21 .elementor-element.elementor-element-25df9cb {
  --spacer-size: 17px;
}

.elementor-21 .elementor-element.elementor-element-50e000e:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-21 .elementor-element.elementor-element-50e000e > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #FFFFFF24;
}

.elementor-21 .elementor-element.elementor-element-50e000e > .elementor-element-populated, .elementor-21 .elementor-element.elementor-element-50e000e > .elementor-element-populated > .elementor-background-overlay, .elementor-21 .elementor-element.elementor-element-50e000e > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}

.elementor-21 .elementor-element.elementor-element-50e000e > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-50e000e > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-7b0daeb {
  overflow: hidden;
  padding: 10px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-d38c8ee {
  text-align: right;
}

.elementor-21 .elementor-element.elementor-element-d38c8ee img {
  width: 100%;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-7d424ae.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-7d424ae.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-2186f71 {
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 20px;
}

.elementor-21 .elementor-element.elementor-element-fce2e34 {
  overflow: hidden;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-ce05082.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-ce05082.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-ef40aab {
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 20px;
}

.elementor-21 .elementor-element.elementor-element-c942bdd {
  overflow: hidden;
  padding: 0px 0px 10px 0px;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-165411d.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-165411d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-dea0698 {
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 20px;
}

.elementor-21 .elementor-element.elementor-element-a73bc71 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 15px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-a73bc71:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-a73bc71 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var( --e-global-color-accent );
}

.elementor-21 .elementor-element.elementor-element-a73bc71 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-34ae96e {
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 49px;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-09173c9.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-09173c9.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-798bc8a {
  text-align: right;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 19px;
}

.elementor-21 .elementor-element.elementor-element-6868055 {
  text-align: left;
}

.elementor-21 .elementor-element.elementor-element-6868055 img {
  width: 20%;
}

.elementor-21 .elementor-element.elementor-element-d60817d {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-d60817d:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-d60817d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var( --e-global-color-accent );
}

.elementor-21 .elementor-element.elementor-element-d60817d > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-d59c0ca {
  text-align: center;
}

.elementor-21 .elementor-element.elementor-element-d59c0ca .elementor-heading-title {
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 70px;
}

.elementor-21 .elementor-element.elementor-element-eed9853 > .elementor-container {
  min-height: 640px;
}

.elementor-21 .elementor-element.elementor-element-eed9853 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-eed9853:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-eed9853 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var( --e-global-color-accent );
  background-image: url("https://mbepe.club/wp-content/uploads/2024/06/photo_2024-06-16_11-49-57-removebg-preview.png");
  background-position: 730px 21px;
  background-repeat: no-repeat;
  background-size: 50% auto;
}

.elementor-21 .elementor-element.elementor-element-eed9853, .elementor-21 .elementor-element.elementor-element-eed9853 > .elementor-background-overlay {
  border-radius: 0% 0% 2% 2%;
}

.elementor-21 .elementor-element.elementor-element-eed9853 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-5f1ee85.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-5f1ee85.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-37dd7a7 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-99c7559 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-feeb353 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-bfda333 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-24fc137 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-0a6364c > .elementor-container {
  min-height: 640px;
}

.elementor-21 .elementor-element.elementor-element-0a6364c {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-0a6364c:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-0a6364c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var( --e-global-color-accent );
}

.elementor-21 .elementor-element.elementor-element-0a6364c, .elementor-21 .elementor-element.elementor-element-0a6364c > .elementor-background-overlay {
  border-radius: 0% 0% 2% 2%;
}

.elementor-21 .elementor-element.elementor-element-0a6364c > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-8177884.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-8177884.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-15279f3 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-9be26a1 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-569967b {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-8197e49 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-334c2dc {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-14857de > .elementor-container {
  min-height: 500px;
}

.elementor-21 .elementor-element.elementor-element-14857de {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-14857de:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-14857de > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-14857de > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-528a9a4 {
  overflow: hidden;
}

.elementor-21 .elementor-element.elementor-element-0334377 {
  text-align: center;
}

.elementor-21 .elementor-element.elementor-element-0334377 .elementor-heading-title {
  color: var( --e-global-color-accent );
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 55px;
  font-weight: 700;
}

.elementor-21 .elementor-element.elementor-element-a16401f {
  text-align: center;
  color: var( --e-global-color-accent );
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.elementor-21 .elementor-element.elementor-element-733d565 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-733d565:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-733d565 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var( --e-global-color-accent );
}

.elementor-21 .elementor-element.elementor-element-733d565 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-5195219.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-5195219.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-4e182fc {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 33px;
  --grid-column-gap: 0px;
  --grid-row-gap: 0px;
}

.elementor-21 .elementor-element.elementor-element-4e182fc .elementor-widget-container {
  text-align: center;
}

.elementor-21 .elementor-element.elementor-element-4e182fc .elementor-social-icon {
  background-color: #FFFFFF00;
}

.elementor-21 .elementor-element.elementor-element-4e182fc .elementor-social-icon i {
  color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-4e182fc .elementor-social-icon svg {
  fill: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-b43a52a.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-b43a52a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-21 .elementor-element.elementor-element-8c6d1a8 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Fuzzy Bubbles", Sans-serif;
  font-size: 18px;
  font-weight: 600;
}

body.elementor-page-21:not(.elementor-motion-effects-element-type-background), body.elementor-page-21 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #FFFFFF;
}

@media(min-width: 768px) {
  .elementor-21 .elementor-element.elementor-element-9e5be6d {
    width:6%;
  }

  .elementor-21 .elementor-element.elementor-element-7552283 {
    width: 88%;
  }

  .elementor-21 .elementor-element.elementor-element-85db652 {
    width: 6%;
  }

  .elementor-21 .elementor-element.elementor-element-bb9acac {
    width: 8%;
  }

  .elementor-21 .elementor-element.elementor-element-b254ea9 {
    width: 43%;
  }

  .elementor-21 .elementor-element.elementor-element-743aa53 {
    width: 21.091%;
  }

  .elementor-21 .elementor-element.elementor-element-3e4905f {
    width: 78.909%;
  }

  .elementor-21 .elementor-element.elementor-element-b798eee {
    width: 21.091%;
  }

  .elementor-21 .elementor-element.elementor-element-2ed7a57 {
    width: 78.909%;
  }

  .elementor-21 .elementor-element.elementor-element-3a84f57 {
    width: 21.091%;
  }

  .elementor-21 .elementor-element.elementor-element-95ded17 {
    width: 78.909%;
  }

  .elementor-21 .elementor-element.elementor-element-884d812 {
    width: 2%;
  }

  .elementor-21 .elementor-element.elementor-element-50e000e {
    width: 43%;
  }

  .elementor-21 .elementor-element.elementor-element-dc542de {
    width: 21.091%;
  }

  .elementor-21 .elementor-element.elementor-element-7d424ae {
    width: 78.909%;
  }

  .elementor-21 .elementor-element.elementor-element-a658c6f {
    width: 21.091%;
  }

  .elementor-21 .elementor-element.elementor-element-ce05082 {
    width: 78.909%;
  }

  .elementor-21 .elementor-element.elementor-element-f7a99da {
    width: 21.091%;
  }

  .elementor-21 .elementor-element.elementor-element-165411d {
    width: 78.909%;
  }

  .elementor-21 .elementor-element.elementor-element-6778146 {
    width: 4%;
  }

  .elementor-21 .elementor-element.elementor-element-5f1ee85 {
    width: 54.032%;
  }

  .elementor-21 .elementor-element.elementor-element-83909b5 {
    width: 45.968%;
  }

  .elementor-21 .elementor-element.elementor-element-8177884 {
    width: 54.032%;
  }

  .elementor-21 .elementor-element.elementor-element-12f1134 {
    width: 45.968%;
  }

  .elementor-21 .elementor-element.elementor-element-0a3f64d {
    width: 5%;
  }

  .elementor-21 .elementor-element.elementor-element-3a060ee {
    width: 88.665%;
  }

  .elementor-21 .elementor-element.elementor-element-23cf0a1 {
    width: 15%;
  }

  .elementor-21 .elementor-element.elementor-element-dc77284 {
    width: 69.666%;
  }

  .elementor-21 .elementor-element.elementor-element-3ff022e {
    width: 15%;
  }

  .elementor-21 .elementor-element.elementor-element-c584c79 {
    width: 5%;
  }
}

@media(max-width: 1024px) and (min-width:768px) {
  .elementor-21 .elementor-element.elementor-element-bb9acac {
    width:2%;
  }

  .elementor-21 .elementor-element.elementor-element-6bd7f31 {
    width: 20%;
  }

  .elementor-21 .elementor-element.elementor-element-1d19d21 {
    width: 60%;
  }

  .elementor-21 .elementor-element.elementor-element-3a92a59 {
    width: 20%;
  }

  .elementor-21 .elementor-element.elementor-element-8284ee2 {
    width: 17%;
  }

  .elementor-21 .elementor-element.elementor-element-b43a52a {
    width: 49%;
  }
}

@media(max-width: 1024px) {
  .elementor-21 .elementor-element.elementor-element-17e7be5 > .elementor-container {
    min-height:430px;
  }

  .elementor-21 .elementor-element.elementor-element-dff59ad img {
    width: 65%;
  }

  .elementor-21 .elementor-element.elementor-element-0e1e976 {
    font-size: 14px;
  }

  body:not(.rtl) .elementor-21 .elementor-element.elementor-element-d537a07 {
    left: 242px;
  }

  body.rtl .elementor-21 .elementor-element.elementor-element-d537a07 {
    right: 242px;
  }

  .elementor-21 .elementor-element.elementor-element-d537a07 {
    top: 81px;
  }

  body:not(.rtl) .elementor-21 .elementor-element.elementor-element-29a25fd {
    left: -256px;
  }

  body.rtl .elementor-21 .elementor-element.elementor-element-29a25fd {
    right: -256px;
  }

  .elementor-21 .elementor-element.elementor-element-29a25fd {
    top: 83px;
  }

  .elementor-21 .elementor-element.elementor-element-4f09f35 img {
    width: 44%;
  }

  .elementor-21 .elementor-element.elementor-element-5c7fce7 {
    --e-image-carousel-slides-to-show: 5;
  }

  .elementor-21 .elementor-element.elementor-element-c8f4b93 img {
    width: 44%;
  }

  .elementor-21 .elementor-element.elementor-element-9cb7ac0 {
    font-size: var( --e-global-typography-d7384ca-font-size );
    line-height: var( --e-global-typography-d7384ca-line-height );
    letter-spacing: var( --e-global-typography-d7384ca-letter-spacing );
    word-spacing: var( --e-global-typography-d7384ca-word-spacing );
  }

  .elementor-21 .elementor-element.elementor-element-561b5a3 {
    --e-image-carousel-slides-to-show: 8;
  }

  .elementor-21 .elementor-element.elementor-element-d9cc224 .elementor-heading-title {
    font-size: 38px;
  }

  .elementor-21 .elementor-element.elementor-element-328d110 {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-c7977e2 {
    font-size: 16px;
  }

  .elementor-21 .elementor-element.elementor-element-3cb7786 {
    font-size: 15px;
  }

  .elementor-21 .elementor-element.elementor-element-49920d9 {
    font-size: 15px;
  }

  .elementor-21 .elementor-element.elementor-element-2186f71 {
    font-size: 16px;
  }

  .elementor-21 .elementor-element.elementor-element-ef40aab {
    font-size: 15px;
  }

  .elementor-21 .elementor-element.elementor-element-dea0698 {
    font-size: 15px;
  }

  .elementor-21 .elementor-element.elementor-element-d59c0ca .elementor-heading-title {
    font-size: 55px;
  }

  .elementor-21 .elementor-element.elementor-element-eed9853 > .elementor-container {
    min-height: 460px;
  }

  .elementor-21 .elementor-element.elementor-element-eed9853:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-eed9853 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: 359px 69px;
  }

  .elementor-21 .elementor-element.elementor-element-37dd7a7 {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-99c7559 {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-feeb353 {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-bfda333 {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-24fc137 {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-0a6364c > .elementor-container {
    min-height: 460px;
  }

  .elementor-21 .elementor-element.elementor-element-15279f3 {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-9be26a1 {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-569967b {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-8197e49 {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-334c2dc {
    font-size: 18px;
  }

  .elementor-21 .elementor-element.elementor-element-0334377 .elementor-heading-title {
    font-size: 46px;
  }

  .elementor-21 .elementor-element.elementor-element-a16401f {
    font-size: 16px;
  }

  .elementor-21 .elementor-element.elementor-element-4e182fc {
    --icon-size: 20px;
  }

  .elementor-21 .elementor-element.elementor-element-8c6d1a8 {
    font-size: 14px;
  }
}

@media(max-width: 767px) {
  .elementor-21 .elementor-element.elementor-element-dff59ad img {
    width:62%;
  }

  .elementor-21 .elementor-element.elementor-element-0e1e976 {
    font-size: 12px;
  }

  .elementor-21 .elementor-element.elementor-element-0e1e976 > .elementor-widget-container {
    margin: -5% 0% 0% 0%;
  }

  body:not(.rtl) .elementor-21 .elementor-element.elementor-element-d537a07 {
    left: 115px;
  }

  body.rtl .elementor-21 .elementor-element.elementor-element-d537a07 {
    right: 115px;
  }

  .elementor-21 .elementor-element.elementor-element-d537a07 {
    top: 100px;
  }

  body:not(.rtl) .elementor-21 .elementor-element.elementor-element-29a25fd {
    left: -115px;
  }

  body.rtl .elementor-21 .elementor-element.elementor-element-29a25fd {
    right: -115px;
  }

  .elementor-21 .elementor-element.elementor-element-29a25fd {
    top: 100px;
  }

  .elementor-21 .elementor-element.elementor-element-fdeb194 {
    z-index: 5;
  }

  .elementor-21 .elementor-element.elementor-element-0e06674 {
    z-index: 3;
  }

  .elementor-21 .elementor-element.elementor-element-e4f3dcf {
    text-align: center;
    z-index: 2;
  }

  .elementor-21 .elementor-element.elementor-element-e4f3dcf img {
    width: 38%;
  }

  .elementor-21 .elementor-element.elementor-element-e4f3dcf > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }

  .elementor-21 .elementor-element.elementor-element-4beb9aa {
    z-index: 3;
  }

  .elementor-21 .elementor-element.elementor-element-4f09f35 {
    text-align: center;
    z-index: 2;
  }

  .elementor-21 .elementor-element.elementor-element-4f09f35 img {
    width: 44%;
  }

  .elementor-21 .elementor-element.elementor-element-4f09f35 > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }

  .elementor-21 .elementor-element.elementor-element-5c7fce7 {
    --e-image-carousel-slides-to-show: 2;
  }

  .elementor-21 .elementor-element.elementor-element-a4ca7c5 {
    padding: 0px 0px 10px 0px;
  }

  .elementor-21 .elementor-element.elementor-element-c8f4b93 img {
    width: 57%;
  }

  .elementor-21 .elementor-element.elementor-element-9cb7ac0 {
    font-size: var( --e-global-typography-d7384ca-font-size );
    line-height: var( --e-global-typography-d7384ca-line-height );
    letter-spacing: var( --e-global-typography-d7384ca-letter-spacing );
    word-spacing: var( --e-global-typography-d7384ca-word-spacing );
  }

  .elementor-21 .elementor-element.elementor-element-561b5a3 {
    --e-image-carousel-slides-to-show: 3;
  }

  .elementor-21 .elementor-element.elementor-element-14bc3ee {
    padding: 20px 0px 0px 0px;
  }

  .elementor-21 .elementor-element.elementor-element-d9cc224 .elementor-heading-title {
    font-size: 25px;
  }

  .elementor-21 .elementor-element.elementor-element-328d110 {
    font-size: 12px;
  }

  .elementor-21 .elementor-element.elementor-element-8a5f44d {
    padding: 10px 0px 0px 0px;
  }

  .elementor-21 .elementor-element.elementor-element-743aa53 {
    width: 25%;
  }

  .elementor-21 .elementor-element.elementor-element-3e4905f {
    width: 75%;
  }

  .elementor-21 .elementor-element.elementor-element-c7977e2 {
    font-size: 14px;
  }

  .elementor-21 .elementor-element.elementor-element-b798eee {
    width: 25%;
  }

  .elementor-21 .elementor-element.elementor-element-2ed7a57 {
    width: 75%;
  }

  .elementor-21 .elementor-element.elementor-element-3cb7786 {
    font-size: 14px;
  }

  .elementor-21 .elementor-element.elementor-element-3a84f57 {
    width: 25%;
  }

  .elementor-21 .elementor-element.elementor-element-95ded17 {
    width: 75%;
  }

  .elementor-21 .elementor-element.elementor-element-49920d9 {
    font-size: 14px;
  }

  .elementor-21 .elementor-element.elementor-element-25df9cb {
    --spacer-size: 12px;
  }

  .elementor-21 .elementor-element.elementor-element-dc542de {
    width: 25%;
  }

  .elementor-21 .elementor-element.elementor-element-7d424ae {
    width: 75%;
  }

  .elementor-21 .elementor-element.elementor-element-2186f71 {
    font-size: 14px;
  }

  .elementor-21 .elementor-element.elementor-element-a658c6f {
    width: 25%;
  }

  .elementor-21 .elementor-element.elementor-element-ce05082 {
    width: 75%;
  }

  .elementor-21 .elementor-element.elementor-element-ef40aab {
    font-size: 14px;
  }

  .elementor-21 .elementor-element.elementor-element-f7a99da {
    width: 25%;
  }

  .elementor-21 .elementor-element.elementor-element-165411d {
    width: 75%;
  }

  .elementor-21 .elementor-element.elementor-element-dea0698 {
    font-size: 14px;
  }

  .elementor-21 .elementor-element.elementor-element-a73bc71 {
    padding: 10px 0px 0px 0px;
  }

  .elementor-21 .elementor-element.elementor-element-09173c9 {
    width: 62%;
  }

  .elementor-21 .elementor-element.elementor-element-798bc8a {
    text-align: center;
  }

  .elementor-21 .elementor-element.elementor-element-61788ce {
    width: 38%;
  }

  .elementor-21 .elementor-element.elementor-element-6868055 img {
    width: 40%;
  }

  .elementor-21 .elementor-element.elementor-element-6868055 > .elementor-widget-container {
    margin: 0px 0px 0px -16px;
  }

  .elementor-21 .elementor-element.elementor-element-d59c0ca .elementor-heading-title {
    font-size: 36px;
  }

  .elementor-21 .elementor-element.elementor-element-eed9853:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-eed9853 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }

  .elementor-21 .elementor-element.elementor-element-0a6364c > .elementor-container {
    min-height: 600px;
  }

  .elementor-21 .elementor-element.elementor-element-0a6364c {
    padding: 15px 0px 0px 0px;
  }

  .elementor-21 .elementor-element.elementor-element-15279f3 {
    font-size: 15px;
  }

  .elementor-21 .elementor-element.elementor-element-9be26a1 {
    font-size: 15px;
  }

  .elementor-21 .elementor-element.elementor-element-569967b {
    font-size: 15px;
  }

  .elementor-21 .elementor-element.elementor-element-8197e49 {
    font-size: 15px;
  }

  .elementor-21 .elementor-element.elementor-element-334c2dc {
    font-size: 15px;
  }

  .elementor-21 .elementor-element.elementor-element-14857de > .elementor-container {
    min-height: 340px;
  }

  .elementor-21 .elementor-element.elementor-element-0334377 .elementor-heading-title {
    font-size: 32px;
  }

  .elementor-21 .elementor-element.elementor-element-a16401f {
    font-size: 14px;
  }

  .elementor-21 .elementor-element.elementor-element-3a7a5b8 img {
    width: 100%;
  }

  .elementor-21 .elementor-element.elementor-element-4e182fc {
    --icon-size: 25px;
    --grid-column-gap: 16px;
  }
}

/* Start custom CSS for image-carousel, class: .elementor-element-5c7fce7 */
.elementor-21 .elementor-element.elementor-element-5c7fce7 .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* End custom CSS */
/* Start custom CSS for image-carousel, class: .elementor-element-561b5a3 */
.elementor-21 .elementor-element.elementor-element-561b5a3 .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b254ea9 */
.elementor-21 .elementor-element.elementor-element-b254ea9 {
  backdrop-filter: blur(10px);
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-50e000e */
.elementor-21 .elementor-element.elementor-element-50e000e {
  backdrop-filter: blur(10px);
}

/* End custom CSS */
